# SPDX-License-Identifier: MIT

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52833_QIAA=y
CONFIG_BOARD_HIDERGO_SPLIT_RIGHT=y
CONFIG_NEWLIB_LIBC=y
CONFIG_ZMK_HID_CONSUMER_REPORT_USAGES_BASIC=y

# Enable sleep
CONFIG_ZMK_SLEEP=y
CONFIG_ZMK_IDLE_SLEEP_TIMEOUT=3600000

# EC11
CONFIG_EC11=y
CONFIG_EC11_TRIGGER_GLOBAL_THREAD=y

#WPM
CONFIG_ZMK_WPM=y

# Split
CONFIG_ZMK_SPLIT=y
CONFIG_ZMK_SPLIT_ROLE_CENTRAL=y
CONFIG_BT_CTLR_TX_PWR_PLUS_8=y
# Unpair all bluetooth connections
#CONFIG_ZMK_BLE_CLEAR_BONDS_ON_START=y
# Enable MPU
CONFIG_ARM_MPU=y

# enable GPIO
CONFIG_GPIO=y
CONFIG_NRFX_GPIOTE=n

# Enable SPI
CONFIG_SPI=y
CONFIG_SPI_NRFX=y

# Sensors
CONFIG_SENSOR=y

CONFIG_NFCT_PINS_AS_GPIOS=y

# Display drivers without ZMK display
CONFIG_IL0323N=y
CONFIG_ZEPHYR_HDL=y

# Allocate more for global heap 
CONFIG_HEAP_MEM_POOL_SIZE=16384

CONFIG_LOG=n
#CONFIG_ZMK_USB_LOGGING=y
CONFIG_ZMK_LOG_LEVEL_DBG=n
#CONFIG_LOG_BUFFER_SIZE=10000
#CONFIG_LOG_STRDUP_BUF_COUNT=60
#CONFIG_I2C_LOG_LEVEL_DBG=y
#CONFIG_SPI_LOG_LEVEL_DBG=y
#CONFIG_DISPLAY_LOG_LEVEL_DBG=y
#CONFIG_LVGL_LOG_LEVEL_DBG=y
#CONFIG_LVGL_USE_DEBUG=y
#CONFIG_SENSOR_LOG_LEVEL_DBG=y

#debug display
#CONFIG_LVGL_LOG_LEVEL_DBG=y
# enable i2c
CONFIG_I2C=y

# IQS5XX
CONFIG_IQS5XX=y
CONFIG_IQS5XX_THREAD_PRIORITY=100
CONFIG_IQS5XX_INTERRUPT=y
#CONFIG_IQS5XX_POLL=y

CONFIG_LED=y
CONFIG_LED_GPIO=y

CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_BUILD_OUTPUT_UF2=y

CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_NVS=y
CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_FLASH_MAP=y

# Enable saving configurations to NVS
CONFIG_ZMK_CONFIG=y

# Battery
CONFIG_ZMK_BATTERY_REPORT_INTERVAL=30

CONFIG_BT_PERIPHERAL_PREF_LATENCY=30

CONFIG_I2C_LOG_LEVEL_OFF=y

# USB
CONFIG_USB_DEVICE_VID=0x1915
CONFIG_USB_DEVICE_PID=0x520f
CONFIG_ZMK_USB=y
CONFIG_ZMK_USB_LOGGING=y
CONFIG_USB_HID_POLL_INTERVAL_MS=1
CONFIG_ENABLE_HID_INT_OUT_EP=y
CONFIG_USB_DEVICE_MANUFACTURER="hid:ergo"
CONFIG_USB_DEVICE_PRODUCT="Disconnect MK1"
