# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_HIDERGO_SPLIT_LEFT || BOARD_HIDERGO_SPLIT_RIGHT

config BOARD
	default "hidergo_split"

config ZMK_KEYBOARD_NAME
	default "hid:ergo split"

config USB_NRFX
	default y

# DISPLAY

config ZMK_DISPLAY
	select LVGL_USE_CONT
	select LVGL_FONT_MONTSERRAT_26
	select LVGL_FONT_MONTSERRAT_20
	select LVGL_FONT_MONTSERRAT_16
	select LVGL_USE_LABEL
	select LVGL_USE_IMG

if ZMK_DISPLAY

config SPI
	default y

config IL0323
	bool
	default y

endif # ZMK_DISPLAY

# Enable UART driver, needed for CDC ACM
config USB_CDC_ACM
	default y

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

# FOR DEBUGGING
config ZMK_LOG_LEVEL
	int
	default 1

# FOR DEBUGGING
config DISPLAY_LOG_LEVEL
	int
	default 1


endif # BOARD_HIDERGO_SPLIT_LEFT || BOARD_HIDERGO_SPLIT_RIGHT
