# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

menuconfig IQS5XX
	bool "IQS5XX Trackpad IC"
	depends on GPIO
	depends on I2C
	help
	  Enable driver for IQS5XX based-trackpads

if IQS5XX

config IQS5XX_THREAD_PRIORITY
	int "Thread priority"
	depends on IQS5XX_TRIGGER_OWN_THREAD
	default 100
	help
	  Priority of thread used by the driver to handle interrupts.

config IQS5XX_THREAD_STACK_SIZE
	int "Thread stack size"
	depends on IQS5XX_TRIGGER_OWN_THREAD
	default 1024
	help
	  Stack size of thread used by the driver to handle interrupts.

choice
	prompt "Interrupt or poll trackpad ready pin"

config IQS5XX_POLL
	bool "Poll data-ready pin"

config IQS5XX_INTERRUPT
	bool "Interrupt from data-ready pin"

endchoice


endif # IQS5XX